html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url("../fonts/avenir/AvenirNextLTPro-Regular.eot");
  src: url("../fonts/avenir/AvenirNextLTPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/avenir/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../fonts/avenir/AvenirNextLTPro-Regular.woff") format("woff"), url("../fonts/avenir/AvenirNextLTPro-Regular.ttf") format("truetype"), url("../fonts/avenir/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular") format("svg");
  font-display: swap;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

body {
  background-color: #fbf5f1;
}

.container {
  padding-left: 32px;
  padding-right: 32px;
}

.flex {
  display: flex;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

.flex-fd-c {
  flex-direction: column;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.has-fade {
  visibility: hidden;
}

.fade-in {
  animation: fade-in 300ms ease-in-out forwards;
}

.fade-out {
  animation: fade-out 300ms ease-in-out forwards;
}

.noscroll {
  overflow: hidden;
}

.header-button, .first .first-text-button, .header-links a p::before {
  background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%), linear-gradient(102.3deg, #0BB1E3 -4.62%, #0F2976 178.22%), linear-gradient(0deg, #0E70AF, #0E70AF);
}

.header-button, .first .first-text-button {
  position: relative;
  border-radius: 3px;
  color: #fbf5f1;
  font-family: "Avenir Next LT Pro";
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.header-button:hover, .first .first-text-button:hover {
  opacity: 0.75;
}

.with-arrow.header-button, .first .with-arrow.first-text-button {
  text-align: left;
}

.with-arrow.header-button::before, .first .with-arrow.first-text-button::before {
  content: "";
  position: absolute;
  right: 8%;
  top: calc(50% - 10px/2);
  background-image: url("../images/arrow.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 63.9375em) {
  .with-arrow.header-button::before, .first .with-arrow.first-text-button::before {
    width: 20px;
    height: 10px;
  }
}

@media (min-width: 64em) {
  .with-arrow.header-button::before, .first .with-arrow.first-text-button::before {
    width: 35px;
    height: 15px;
  }
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.header.open .nav-hamburger > div:first-child {
  transform: rotate(45deg);
}

.header.open .nav-hamburger > div:nth-child(2) {
  opacity: 0;
}

.header.open .nav-hamburger > div:last-child {
  transform: rotate(-45deg);
}

.header .overlay {
  visibility: hidden;
  position: fixed;
  top: 4.75rem;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(46, 61, 55, 0.7), transparent);
}

.header .nav {
  padding: 20px 0;
  position: relative;
}

.header .nav .nav-hamburger {
  width: 30px;
  height: 18px;
}

.header .nav .nav-hamburger div {
  width: 100%;
  height: 2px;
  background-color: #333333;
  transition: all 300ms ease-in-out;
  transform-origin: 4px 2px;
}

.header .nav .header-logo div .d-logo {
  margin-right: 12px;
}

.header-links a {
  font-size: 0.8rem;
  line-height: 1.25rem;
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  color: #333333;
  margin-right: 50px;
}

.header-links a p {
  position: relative;
  display: inline-block;
}

.header-links a p span {
  font-size: 1.1rem;
}

.header-links a p::before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  bottom: -10px;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.header-links a p:hover {
  font-weight: bold;
}

.header-links a p:hover::before {
  opacity: 1;
}

.header-button {
  width: 93px;
  height: 40px;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.header-button span {
  font-size: 1.1rem;
}

.header-mobile-menu {
  position: absolute;
  width: calc(100% - 3.5rem);
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  background-color: white;
  padding: 25px 0;
  border-radius: 5px;
  visibility: hidden;
}

.header-mobile-menu a {
  display: block;
  color: #333333;
  text-align: center;
  margin: 15px;
  font-family: "Avenir Next LT Pro";
  text-transform: capitalize;
}

.header-button, .first .first-text-button, .header-links a p::before {
  background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%), linear-gradient(102.3deg, #0BB1E3 -4.62%, #0F2976 178.22%), linear-gradient(0deg, #0E70AF, #0E70AF);
}

.header-button, .first .first-text-button {
  position: relative;
  border-radius: 3px;
  color: #fbf5f1;
  font-family: "Avenir Next LT Pro";
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.header-button:hover, .first .first-text-button:hover {
  opacity: 0.75;
}

.with-arrow.header-button, .first .with-arrow.first-text-button {
  text-align: left;
}

.with-arrow.header-button::before, .first .with-arrow.first-text-button::before {
  content: "";
  position: absolute;
  right: 8%;
  top: calc(50% - 10px/2);
  background-image: url("../images/arrow.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 63.9375em) {
  .with-arrow.header-button::before, .first .with-arrow.first-text-button::before {
    width: 20px;
    height: 10px;
  }
}

@media (min-width: 64em) {
  .with-arrow.header-button::before, .first .with-arrow.first-text-button::before {
    width: 35px;
    height: 15px;
  }
}

.first {
  position: relative;
  margin-top: 50px;
}

.first .first-photo {
  position: absolute;
}

.first .first-text-h1 {
  color: #333333;
  text-transform: uppercase;
  font-family: "Avenir Next LT Pro";
}

@media (max-width: 63.9375em) {
  .first .first-text-h1 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.07rem;
  }
  .first .first-text-h1 > span {
    font-size: 1.4rem;
  }
}

@media (min-width: 64em) {
  .first .first-text-h1 {
    font-size: 2.5625rem;
    line-height: 3.2rem;
    font-weight: 600;
  }
  .first .first-text-h1 > span {
    font-size: 3.3rem;
  }
}

.first .first-text-p {
  color: #333333;
  font-family: "Avenir Next LT Pro";
  text-transform: none;
  letter-spacing: 0.05rem;
  margin: 20px 0;
}

@media (max-width: 63.9375em) {
  .first .first-text-p {
    font-size: 0, 625rem;
    line-height: 1.15rem;
    font-weight: 400;
  }
}

@media (min-width: 64em) {
  .first .first-text-p {
    font-size: 1.25rem;
    line-height: 1.15rem;
    font-weight: 400;
  }
}

@media (max-width: 63.9375em) {
  .first .first-text-button {
    width: 195px;
    height: 50px;
    font-size: 0.8rem;
    line-height: 1.25rem;
    font-weight: 500;
  }
}

@media (min-width: 64em) {
  .first .first-text-button {
    width: 300px;
    height: 65px;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 500;
  }
}
/*# sourceMappingURL=style.css.map */