%gradient {
    background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%),
                linear-gradient(102.3deg, #0BB1E3 -4.62%, #0F2976 178.22%),
                linear-gradient(0deg, #0E70AF, #0E70AF);
}


%button {
    @extend %gradient;
    position: relative;
    border-radius: 3px;
    color: $extraLightOrange;
    font-family: $avenirNext;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 1;
    transition: all 0.5s ease-in-out;    
    padding-left: 1.2rem;
    padding-right: 1.2rem;

    &:hover {
        opacity: 0.75;
    }

    &.with-arrow {
        text-align: left;

        &::before {
            content: "";
            position: absolute;
            right: 8%;
            top: calc(50% - 10px/2);
            background-image: url("../images/arrow.svg");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            @include breakpoint-down(medium) {
                @include dimensions(20px, 10px);
            }
            @include breakpoint-up(large) {
                @include dimensions(35px, 15px);
            }
        }
    }
}