@import "variables";
@import "classes";

.first {
    position: relative;
    margin-top: 50px; // for a while

    .first-photo {
        position: absolute;
    }

    .first-text {

        &-h1 {
            color: $black;
            text-transform: uppercase;
            font-family: $avenirNext;

            @include breakpoint-down(medium) {
                @include font(1rem, 1.5rem, 600);
                letter-spacing: 0.07rem;

                > span {
                    font-size: 1.4rem;
                }
            }
            @include breakpoint-up(large) {
                @include font($f-xl, 3.2rem, 600);

                > span {
                    font-size: 3.3rem;
                }
            }
        }

        &-p {
            color: $black;
            font-family: $avenirNext;
            text-transform: none;
            letter-spacing: 0.05rem;
            margin: 20px 0;

            @include breakpoint-down(medium) {
                @include font($f-xs, 1.15rem, 400);
            }
            @include breakpoint-up(large) {
                @include font($f-m, 1.15rem, 400);
            }
        }

        &-button {
            @extend %button;
            @include breakpoint-down(medium) {
                @include dimensions(195px, 50px);
                @include font(0.8rem, 1.25rem, 500);
            }
            @include breakpoint-up(large) {
                @include dimensions(300px, 65px);
                @include font($f-m, 1.5rem, 500);
            }
        }
    }
}