@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../fonts/avenir/AvenirNextLTPro-Regular.eot');
    src: url('../fonts/avenir/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/avenir/AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('../fonts/avenir/AvenirNextLTPro-Regular.woff') format('woff'),
        url('../fonts/avenir/AvenirNextLTPro-Regular.ttf') format('truetype'),
        url('../fonts/avenir/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
    font-display: swap;
}