@import "./animations";

body {
    background-color: $extraLightOrange;
}

.container {
    padding-left: 32px;
    padding-right: 32px;
}

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }

    &-fd-c {
        flex-direction: column;
    }
}

// visibility

// hide for tablet and mobile
.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

// hide for desktop
.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}

// animations
.has-fade {
    visibility: hidden;
}

.fade-in {
    animation: fade-in 300ms ease-in-out forwards;
}

.fade-out {
    animation: fade-out 300ms ease-in-out forwards;
}

.noscroll {
    overflow: hidden;
}