@import "variables";
@import "classes";

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    &.open {
        .nav-hamburger {
            >div:first-child {
                transform: rotate(45deg);
            }

            >div:nth-child(2) {
                opacity: 0;
            }

            >div:last-child {
                transform: rotate(-45deg);
            }
        }
    }
    
    .overlay {
        visibility: hidden;
        position: fixed;
        top: 4.75rem;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(rgba(46, 61, 55, 0.7), transparent);
    }    

    .nav {
        padding: 20px 0;
        position: relative;

        .nav-hamburger {
            width: 30px;
            height: 18px;
    
            div {
                width: 100%;           
                height: 2px;
                background-color: $black;
                transition: all 300ms ease-in-out;
                transform-origin: 4px 2px;
            }
        }

        .header-logo {
            div {
                .d-logo {
                    margin-right: 12px;
                }
            }
        }        
    }

    &-links {
        a {
            font-size: 0.8rem;
            line-height: 1.25rem;
            font-family: $avenirNext;
            font-style: normal;
            font-weight: 500;
            text-transform: uppercase;
            color: $darkGrey;
            margin-right: 50px;
            

            p {
                position: relative;
                display: inline-block;

                span {
                    font-size: 1.1rem;
                }

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    height: 5px;
                    width: 100%;
                    bottom: -10px;
                    @extend %gradient;
                    opacity: 0;
                    transition: all 300ms ease-in-out;
                }

                &:hover {
                    font-weight: bold;

                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &-button {
        @extend %button;
        @include dimensions(93px, 40px);
        @include font($f-s, 1.25rem, 500);

        span {
            font-size: 1.1rem;
        }
    }

    &-mobile-menu {
        position: absolute;
        width: calc(100% - 3.5rem);
        left: 50%;
        transform: translateX(-50%);
        margin-top: 20px;
        background-color: white;
        padding: 25px 0;
        border-radius: 5px;
        visibility: hidden;

        a {
            display: block;
            color: $black;
            text-align: center;
            margin: 15px;
            font-family: $avenirNext;
            text-transform: capitalize;
        }
    }
}