// general

@mixin dimensions($w, $h) {
    width: $w;
    height: $h;
}


// breakpoints

// 640px, 1024px, 1400px
$breakpoints-up: ("medium" : "40em", "large" : "64em", "xLarge" : "87.5em");
// 639px, 1023px, 1399px
$breakpoints-down: ("small" : "39.9375em", "medium" : "63.9375em", "large" : "87.4375em");

@mixin breakpoint-up($size) {
    @media (min-width: map-get($breakpoints-up, $size)) {
        @content;
    }
}

@mixin breakpoint-down($size) {
    @media (max-width: map-get($breakpoints-down, $size)) {
        @content;
    }
}


// button
@mixin font($fs, $lh, $fw) {
    font-size: $fs;
    line-height: $lh;
    font-weight: $fw;
}