// fonts
$avenirNext: 'Avenir Next LT Pro';

// colors
$darkGreen: rgba(100, 123, 100, 1);
$green: rgba(101, 162, 101, 1);
$lightGreen: rgba(237, 239, 237, 1);
$extraLightGreen: rgba(254, 248, 240, 1);
$black: rgba(51, 51, 51, 1);
$darkGrey: rgba(51, 51, 51, 1);
$lightGrey:rgba(100, 100, 99, 1);
$orange: rgba(243, 181, 98, 1);
$lightOrange: rgba(240, 220, 197, 1);
$extraLightOrange: rgba(251, 245, 241, 1);

// fonts
$f-xxs: 0.5rem; //8px
$f-xs: 0,625rem; //10px
$f-s: 0.75rem; //12px
$f-m: 1.25rem; //20px
$f-l: 1.5rem; //24px
$f-xl: 2.5625rem; //41px
$f-xxl: 3rem; //48px
